
<% layout('layouts/boilerplate')%>
<body>
    <form action="/campgrounds" method="POST">
        <div>
            <label for="name">name</label>
            <input type="text" id="name" name="campground[name]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]">
        </div>
        <button>Add Campground</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>

</body>
