<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <name>New Camp</name>
</head>
<body>
    <h1>New Camp</h1>
    <form action="/"></form>
</body>
</html>