<% layout('layouts/boilerplate')%>

<body>
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/addCamp">Add Campground</a>
    </div>
    <ul>
        <% for (let campground of campgrounds){%>
        <li><a href="/campgrounds/<%= campground._id %>"><%= campground.name %></a></li>
        <% }%>
    </ul>

</body>

